.body{
 /* display: flex; */
 background-color: white;

width: 100%;
min-height: 60rem;
}
.hero{
 transform: translateY(65px);
}
.body{
  padding: 70px;
}
.headerText {
  /* font-size: 72px; */
  background: -webkit-linear-gradient(#8b5cf6, #d946ef);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* transform: translateX(50px); */
}
.service{
  border: none;
  border-bottom: 7px solid #8b5cf6 ;
}
.mobile-card{
  margin-top: 22px;
  width:100%;
  height: fit-content;
}
.i{
  font-size: x-small;
}
.author{
  transform: translateY(20px);
  font-size: x-small;
}
.airtime{
    margin-top: 22px;
      width: 100%;
      height: 16rem;
}
/* .span{
  width: 70px;
  height: 8px;
  background-color: #0d1117;
} */
/* .headerSubText{
  transform: translateX(150px);
  #0d1117
} */