.side{
  position: fixed;
  width: 10%;
  background-color: #2E0249;
  min-height: 2000px;
  /* color: rgb(213, 235, 211); */
  color: #eee;
}
.settings{
  color: white;
  animation: turn 2s linear infinite;
  transform: rotate(0deg);
}
@keyframes turn {
  to{
    transform: rotate(360deg);
  }
}
.side-header ::after{
 display: block;
 content: ''; 
 display: block;
 background-color: white;
 width: 90%;
 height: 0.5px;
 margin-left: 10px;
 border-radius: 2px;
  transition: 0.5s ease-in;
  
}
.side-content, .side-item{
  /* background-color: red; */
  list-style-type: none;
  margin-top:20px;
  cursor: pointer;
}
span, .icon{
  position: relative;
  right: 20px;
 font-size: 15px;
 transition: 0.5s ease-in;
}
span::after{
  content: '';
  width: 0px;
  height: 0px;
  transition: 0.2s ease-in linear;
}
span:hover::after{
  content: ''; 
  display: block;
  background-color: white;
  width: 100%;
  height: 0.5px;
  border-radius: 2px;
   transition: 0.5s ease-in;
}
 span:hover {
font-size: 17px;
}
.phone-icon{
 
  align-items: center;
  justify-content: center;
  /* position: relative;
  left: 60px; */
}

.mobile-settings{
  display: none;
  color: white;
  animation: turn 2s ease infinite;
  transform: rotate(0deg);
}
.sidebar-menu{
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: none;
}
.sidebar-menu:hover{
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
hr{
  display: none;
}
.sidebar-menu > #side-check{
  cursor: pointer;
  display: none;
}
@media (max-width:1005px) {
  .side{
    position: fixed;
    width: 12%;
    background-color: #2E0249;
    min-height: 2000px;
    /* color: rgb(213, 235, 211); */
    color: #eee;
  }
  .side-header {

    position: relative;
    left: 10px;
    
  }
  .side-content, .side-item{
    list-style-type: none;
    margin-top:20px;
    cursor: pointer;
  }
  span, .icon{
    position: relative;
    right: 20px;
   font-size: 15px;
   transition: 0.5s ease-in;
  }
  
}


@media (max-width:810px) {
  span{
    display: none;
  }
 /* .sidebar-menu:focus ~ .side-content {
    background-color: blue;
  } */
  .icon{
    font-size: 45px;
  }
  .icon:hover{
    color: #eee;
    opacity: 0.2;
  }
  .nav-sidebtn{
    position: relative;
    bottom: 150px;
    left: 150px;
  }
  hr{
    display: block;
   }
   .sidebar-menu{
    display: flex;
   }
   /* .sidebar-menu > .side-btn > label:hover,.side  #side-check:checked ~ .side-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  } */
  h3{
    display: none;
  }
  .mobile-settings{
    font-size: 45px;
    display: block;
    position: relative;
    left: 7px;
  }
  /* .sidebar-menu > #side-check:not(:checked) ~ span {
    height: 0px;
  }
  .side > #side-check:checked ~ span {
    width: calc(100vh - 50px);
    overflow-x: auto;
  } */
}
@media (max-width:590px) {
  span{
    display: none;
  }
  .icon{
    font-size: 40px;
    transform: translateX(-2px);
  }
  .nav-sidebtn{
    position: relative;
    bottom: 150px;
    left: 150px;
  }
  .mobile-settings{
    font-size: 45px;
    display: block;
    position: relative;
    left: 0px;
  }
}
@media (max-width:510px) {
  span{
    display: none;
  }
  .icon{
    font-size: 30px;
  }
  .icon:hover{
    color: #eee;
    opacity: 0.2;
  }
  .nav-sidebtn{
    position: relative;
    bottom: 150px;
    left: 150px;
  }
  .mobile-settings{
    font-size: 45px;
    display: block;
    position: relative;
    left: 0px;
  }
}
@media (max-width:450px) {
  span{
    display: none;
  }
  .icon{
    font-size: 30px;
    transform: translateX(-9px);
  }
  .nav-sidebtn{
    position: relative;
    bottom: 150px;
    left: 150px;
  }
  .mobile-settings{
    font-size: 25px;
    display: block;
  }
.mobile-settings:hover{
  color: #eee;
 }
}
@media (max-width:410px) {
  span{
    display: none;
  }
  .icon{
    font-size: 25px;
    transform: translateX(-6px);
  }
  .nav-sidebtn{
    position: relative;
    bottom: 150px;
    left: 150px;
  }
  .mobile-settings{
    font-size: 25px;
    display: block;
  }
.mobile-settings:hover{
  color: #eee;
 }
}

@media (max-width:400px) {
  span{
    display: none;
  }
  .icon{
    font-size: 25px;
    transform: translateX(-6px);
  }
  .nav-sidebtn{
    position: relative;
    bottom: 150px;
    left: 150px;
  }

}

/* background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
}
h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */