/* :root{
  primary:
} */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  background-color: #e0e8f3;
}


/* .main-body{
  display:grid;
  grid-template-columns: 1fr 3fr;
} */

